{% if page is defined %}
    {% set title = page.title %}
    {% set dsc = page.description %}
  {% elif section is defined %} 
    {% set title = section.title %}
    {% set dsc = section.description %} 
  {% elif term is defined %}
    {% set title = "tags" ~ '/' ~ term.name %}
  {% else %} 
    {% set title = "UNDEFINED TITLE" %}
  {% endif %}

{% set cdn_version = now() | date(format="%d%m%Y%H%M%S") %}
{% if section.path is defined %} {% set pth = section.path %}
{% elif term is defined %}
{% set pth = title %}
{% else %}
{% if current_path is defined %}
 {% set pth = current_path %} 
{% else %}
 {% set pth = " " %}
{% endif %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head
  data-base-url="{{config.base_url | safe }}"
  data-giscus-repo="{{config.extra.giscus.data_repo | safe}}"
  data-giscus-repo-id="{{config.extra.giscus.data_repo_id | safe}}"
  data-giscus-category="{{config.extra.giscus.data_category | safe}}"
  data-giscus-category-id="{{config.extra.giscus.data_category_id | safe}}"
  data-giscus-mapping="{{config.extra.giscus.data_mapping | safe}}"
  data-giscus-strict="{{config.extra.giscus.data_strict | safe}}"
  data-giscus-reactions-enabled="{{config.extra.giscus.data_reactions_enabled | safe}}"
  data-giscus-emit-metadata="{{config.extra.giscus.data_emit_metadata | safe}}"
  data-giscus-input-position="{{config.extra.giscus.data_input_position | safe}}"
  data-giscus-lang="{{config.extra.giscus.data_lang | safe}}"
  data-giscus-crossorigin="{{config.extra.giscus.crossorigin | safe}}"
  data-giscus-nonce="{{config.extra.nonce | safe}}"
  data-giscus-src="{{config.extra.giscus.src | safe}}"
  data-build_search_index="{{config.build_search_index | safe}}"
  data-comments-enabled="{%- if page.extra.show_comments -%}true{%- else -%}false{%- endif -%}">

  <meta charset="utf-8">
  {% if config.mode != 'serve' %}
  <meta http-equiv='Content-Security-Policy' content="default-src 'self'; frame-src https://giscus.app/ https://*.viku.me; script-src https://giscus.app/ https://*.viku.me/ 'nonce-bXlhd2Vzb21lc2VjcmV0cGhyYXNlCg=='; style-src 'self' 'unsafe-inline' self https://giscus.app https://s.viku.me https://fonts.googleapis.com/; font-src https://fonts.gstatic.com; img-src 'self' https://giscus.app; connect-src 'self' https://*.viku.me/ https://giscus.app; base-uri 'self'; object-src 'none'; Origin override"> -->
  {% endif %}
  <title>{{ title }}</title>
{% if dsc is not defined %}
  <meta name="description" content="{{ config.extra.description }}">  
{% else %}
  <meta name="description" content="{{ dsc }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endif %}
  <meta name="author" content="{{config.extra.author}}">
  {% if page.extra.keywords is defined %}<meta name="keywords" content="{{ page.extra.keywords }}">{% endif %}
  <link type="text/css" rel="stylesheet" href="{{config.base_url | safe }}css/simple-grid.css?v={{ cdn_version }}">
  <link type="text/css" rel="stylesheet" href="{{config.base_url | safe }}css/main.css?v={{ cdn_version }}">
  <link type="text/css" rel="stylesheet" href="{{config.base_url | safe }}css/print.css?v={{ cdn_version }}" media="print">
  <link rel="icon" type="image/png" href="{{config.base_url | safe }}images/favicon.webp">
  {% if page.extra.printable or section.extra.printable %}
  <script src = "{{config.base_url | safe }}js/print.js" nonce="{{config.extra.nonce}}"></script>
  {% endif %}
  {% if config.extra.stats and config.mode != 'serve' %}
  <script async src="{{config.extra.stats.script_src}}" data-website-id="{{config.extra.stats.site_id}}"></script>
  {% endif %}
</head>
<body>
  <div class="container body">
    {% include "header.html" %}
    {% block content %} {% endblock content %}
  </div> <!-- END CONTAINER-->
  {% include "footer.html" %}
  <script src = "{{config.base_url | safe }}js/colortheme.js" nonce="{{config.extra.nonce}}"></script>
  <script src = "{{config.base_url | safe }}js/init.js" nonce="{{config.extra.nonce}}"></script>
</body>
</html>
