{% if page is defined %}
    {% set title = page.title %}
    {% set dsc = page.description %}
  {% elif section is defined %} 
    {% set title = section.title %}
    {% set dsc = section.description %} 
  {% elif term is defined %}
    {% set title = "tags" ~ '/' ~ term.name %}
  {% else %} 
    {% set title = "UNDEFINED TITLE" %}
  {% endif %}

{% set cdn_version = now() | date(format="%d%m%Y%H%M%S") %}
{% if section.path is defined %} {% set pth = section.path %}
{% elif term is defined %}
{% set pth = title %}
{% else %}
{% if current_path is defined %}
 {% set pth = current_path %} 
{% else %}
 {% set pth = " " %}
{% endif %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head
  data-base-url="{{config.base_url}}"
  data-giscus-repo="{{config.extra.giscus.data_repo}}"
  data-giscus-repo-id="{{config.extra.giscus.data_repo_id}}"
  data-giscus-category="{{config.extra.giscus.data_category}}"
  data-giscus-category-id="{{config.extra.giscus.data_category_id}}"
  data-giscus-mapping="{{config.extra.giscus.data_mapping}}"
  data-giscus-strict="{{config.extra.giscus.data_strict}}"
  data-giscus-reactions-enabled="{{config.extra.giscus.data_reactions_enabled}}"
  data-giscus-emit-metadata="{{config.extra.giscus.data_emit_metadata}}"
  data-giscus-input-position="{{config.extra.giscus.data_input_position}}"
  data-giscus-lang="{{config.extra.giscus.data_lang}}"
  data-giscus-crossorigin="{{config.extra.giscus.crossorigin}}"
  data-giscus-nonce="{{config.extra.nonce}}"
  data-giscus-src="{{config.extra.giscus.src}}">
  <meta charset="utf-8">
  <title>{{ title }}</title>
{% if dsc is not defined %}
  <meta name="description" content="{{ config.extra.description }}">  
{% else %}
  <meta name="description" content="{{ dsc }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% endif %}
  <meta name="author" content="{{config.extra.author}}">
  {% if page.extra.keywords is defined %}<meta name="keywords" content="{{ page.extra.keywords }}">{% endif %}
  <link type="text/css" rel="stylesheet" href="{{config.base_url}}css/simple-grid.css?v={{ cdn_version }}">
  <link type="text/css" rel="stylesheet" href="{{config.base_url}}css/main.css?v={{ cdn_version }}">
  <link type="text/css" rel="stylesheet" href="{{config.base_url}}css/print.css?v={{ cdn_version }}" media="print">
  <link rel="icon" type="image/png" href="{{config.base_url}}images/favicon.webp">
  {% if page.extra.printable %}
  <script src = "{{config.base_url}}js/print.js" nonce="{{config.extra.nonce}}"></script>
  {% endif %}
</head>
<body>
  <div class="container body">
    {% include "header.html" %}
    {% block content %} {% endblock content %}
  </div> <!-- END CONTAINER-->
  {% include "footer.html" %}
  <script src = "{{config.base_url}}js/init.js" nonce="{{config.extra.nonce}}"></script>
  <script src = "{{config.base_url}}js/colortheme.js" nonce="{{config.extra.nonce}}"></script>
</body>
</html>
