{% if page.extra.show_comments %}
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8" id = "giscusWidget">
      <script id = "giscusScript" src="https://giscus.app/client.js"
          data-repo="{{config.extra.giscus.data_repo}}"
          data-repo-id="{{config.extra.giscus.data_repo_id}}"
          data-category="{{config.extra.giscus.data_category}}"
          data-category-id="{{config.extra.giscus.data_category_id}}"
          data-mapping="{{config.extra.giscus.data_mapping}}"
          data-strict="{{config.extra.giscus.data_strict}}"
          data-reactions-enabled="{{config.extra.giscus.data_reactions_enabled}}"
          data-emit-metadata="{{config.extra.giscus.data_emit_metadata}}"
          data-input-position="{{config.extra.giscus.data_input_position}}"
          data-lang="{{config.extra.giscus.data_lang}}"
          crossorigin="{{config.extra.giscus.crossorigin}}"
          nonce="{{config.extra.nonce}}"
        async>
      </script>
    </div>
  </div>
  {% endif %}