    <div class="row header"> <!-- START HEADER -->
      <div class="col-4 left">
        <div id="logo-img">
          <img src="{{config.base_url}}images/logo.webp">
	      </div>
      </div>
      <div class="col-6 right">
        <div id="menu-wrapper">
          {%- if config.build_search_index -%}
          <div id="searchBox">  
            <label for="search"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg></label>
            <input id="searchInput" name="search">
          </div>
          {%- endif -%}
          <div id="topmenu">
            <ul>
            {% for menuitem in config.extra.top_menu %}
              <li><a href="{% if menuitem == config.extra.index_page %}{{config.base_url}}{% else %}{{config.base_url}}{{ menuitem }}{% endif %}" class="topmenu{% if menuitem in current_url and menuitem != '/' %} active{% elif menuitem == config.extra.index_page and current_url == config.base_url %} active{% endif %}">{{ menuitem }}</a></li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div><!-- END HEADER -->
  {%- if config.build_search_index -%}
    <div class="row">
      <div class="col-12">
          <div id="sResults">
            <ul id="sResultsUL" class="search-results">
            </ul>
          </div>
      </div>
    </div>
    <script src="{{config.base_url}}elasticlunr.min.js"></script>
    <script src="{{config.base_url}}js/search.js"></script>
  {%- endif -%}