    <div class="row header"> <!-- START HEADER -->
      <div class="col-6 left">
        <div id="logo-img">
          <img src="{{config.base_url}}images/logo.webp">
	      </div>
      </div>
      <div class="col-6 right">
        <div id="menu-wrapper">
          <div id="topmenu">
            <ul>
            {% for menuitem in config.extra.top_menu %}
              <li><a href="{% if menuitem == config.extra.index_page %}{{config.base_url}}{% else %}{{config.base_url}}{{ menuitem }}{% endif %}" class="topmenu{% if menuitem in current_url and menuitem != '/' %} active{% elif menuitem == config.extra.index_page and current_url == config.base_url %} active{% endif %}">{{ menuitem }}</a></li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div><!-- END HEADER -->