{% extends "base.html" %}
{% block content %}
<div class="row" id="spacer"></div>
<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <div id="index-content">
      <div class="table-row">
        <div class="table-cell">
          <div id="indextext" >
            {{ section.content | safe }}
          </div>   
        </div>
        <div class="table-cell">
          <div class="avatar-wrapper">
            <img src="{{config.base_url}}{{ config.extra.avatar_src }}" alt="avatar" class="avatar" width="300" height="300">
          </div>
        </div>
      </div> 
    </div>
  </div>
  <div class="col-1"></div>  
</div>
{% endblock %}
